<!DOCTYPE html>
<html>

<head>
    <title>Events - OpenTicket</title>
    <link rel="stylesheet" href="{{ static('css/home/index-'+static_hash+'.css') }}" />
</head>

<body>
    <div class="container">
        <h1>Events</h1>
        <a href="/events/">
            All Events
        </a>
        <div>
            <form method="post" action="{{ url('events') }}">
                {{ csrf_input }}
                <div>
                    {{ new_event_form.name.label_tag() }}
                    {{ new_event_form.name }}
                </div>
                <div>
                    {{ new_event_form.start_date.label_tag() }}
                    {{ new_event_form.start_date }}
                </div>
                <div>
                    {{ new_event_form.end_date.label_tag() }}
                    {{ new_event_form.end_date }}
                </div>
                <div>
                    {{ new_event_form.number_of_tickets.label_tag() }}
                    {{ new_event_form.number_of_tickets }}
                </div>
                <div>
                    <input type="submit" value="Create" />
                </div>
            </form>
        </div>
    </div>
</body>

</html>